/* $Id: style.css,v 1.4 2007/01/24 19:24:32 andrew Exp $
*
* Part of the AM Reviews XOOPS2 Module. Custom CSS file.
*
*/

.amreviewHead {
    background-color: #2F5376;
    padding: 3px;
    color: #ffffff;
}

/*
.reviewTitle a {
    font-size: 130%;
    font-weight: bold;
    font-variant: small-caps;
    color: #ffffff;
    background-color: transparent;
}
.reviewInfo {
    text-align: right;
    padding: 3px;
    background-color: #efefef
}
.reviewPoster {
    font-size: 90%;
    font-style:italic;
}
.reviewPostDate {
    font-size: 90%;
    font-style:italic;
}
.reviewBody {
    padding-left: 5px;
}
.reviewText {
    margin-top: 5px;
    margin-bottom: 5px;
    padding-left: 3px;
    padding-right: 3px;
}
.reviewFoot {
    text-align: right;
    padding: 3px;
    background-color: #efefef;
    vertical-align: middle;
}
.reviewPermaLink {
    font-size: 90%;
}
*/
.amreviewSubtitle {
    font-weight: bold;
}

.amreviewnoreviewscap {
    margin-left: auto;
    margin-right: auto;
    /*padding: 10px;*/
    text-align: center;
    /*background-color: ButtonFace;*/
    width: 80%;
    font-size: larger;
    font-weight: bold;
}

.amreviewSubcats {
    font-size: smaller;
    padding-left: 4px;
    display: block;
}

/* ~~~~ Print page doodahs ~~~~ */
.printBody {
    background-color: White;
    color: Black;
    font-family: "Times New Roman", Times, serif;
    text-align: justify;
    font-size: 12pt;
}

.printContainer {
    width: 650px;
    margin-left: auto;
    margin-right: auto;
}

.printTitle {
    font-weight: bold;
}

.printSubTitle {
}

.printDate {
}

.printReviewText {
    padding-top: 10px;
    padding-bottom: 10px;
}

.printFooter {
    padding-bottom: 10px;
}

/* for rating stars - don't modify unless you know what to do */
/*             styles for the star rater                */
.star-rating {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 60px;
    height: 12px;
    position: relative;
    background: url(assets/images/stars12x36.gif) top left repeat-x;
}

.star-rating li {
    padding: 0;
    margin: 0;
    /*height: 12px;
    width: 12px;        */
    /*\*/
    float: left;
    /* */
    list-style: none;
}

.star-rating li a {
    display: block;
    width: 12px;
    height: 12px;
    line-height: 12px;
    text-decoration: none;
    text-indent: -9000px;
    z-index: 20;
    position: absolute;
    padding: 0;
    overflow: hidden;
    list-style: none;
}

.star-rating li a:hover {
    background: url(assets/images/stars12x36.gif) left center;
    z-index: 2;
    left: 0;
    border: none;
    list-style: none;
}

.star-rating a.one-star {
    left: 0;
}

.star-rating a.one-star:hover {
    width: 12px;
}

.star-rating a.two-stars {
    left: 12px;
}

.star-rating a.two-stars:hover {
    width: 24px;
}

.star-rating a.three-stars {
    left: 24px;
}

.star-rating a.three-stars:hover {
    width: 36px;
}

.star-rating a.four-stars {
    left: 36px;
}

.star-rating a.four-stars:hover {
    width: 48px;
}

.star-rating a.five-stars {
    left: 48px;
}

.star-rating a.five-stars:hover {
    width: 60px;
}

.star-rating li.current-rating {
    background: url(assets/images/stars12x36.gif) left bottom;
    position: absolute;
    height: 12px;
    display: block;
    text-indent: -9000px;
    z-index: 1;
    /*display: none;*/
}

/* remove halo effect in firefox   */
a:active {
    outline: none;
}

.hide {
    display: none;
}


